# Movie prefs 2 vec
I want to build a taste vector for each user to recommend content.

In [ ]:
# import kagglehub
# import shutil
# import os
# 
# # Download latest version
# path = kagglehub.dataset_download("aigamer/movie-lens-dataset")
# 
# # Ensure the destination folder exists
# os.makedirs("data", exist_ok=True)
# 
# # Move the downloaded files to the destination folder
# for filename in os.listdir(path):
#     source_file = os.path.join(path, filename)
#     destination_file = os.path.join("data", filename)
#     
#     # Move the file
#     shutil.move(source_file, destination_file)

/home/morrisubuntu/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /home/morrisubuntu/.cache/kagglehub/datasets/aigamer/movie-lens-dataset/versions/1

In [5]:
import pandas as pd

# Load the movies data into a DataFrame
movies_df = pd.read_csv("data/movies.csv")
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
links_df = pd.read_csv("data/links.csv")
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
ratings_df = pd.read_csv("data/ratings.csv")
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
tags_df = pd.read_csv("data/tags.csv")
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [12]:
# Find the movie in movies_df with movieId 60756
movie_60756 = movies_df[movies_df['movieId'] == 60756]

tags_60756 = tags_df[tags_df['movieId'] == 60756]

# Display movie info and user tags
print("Movie info:")
print(movie_60756)
print("\nUser tags for this movie:")
print(tags_60756[['userId', 'tag']])

Movie info:
      movieId                 title  genres
6801    60756  Step Brothers (2008)  Comedy

User tags for this movie:
     userId              tag
0         2            funny
1         2  Highly quotable
2         2     will ferrell
205      62           comedy
206      62            funny
207      62     will ferrell
909     424            funny
910     424     will ferrell